doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if language != "Unknown"
            meta(property='og:title' content=`💾 ↓↓↓ Code Share ↓↓↓`)
        else
            meta(property='og:title' content=`📃 ↓↓↓ Text Share ↓↓↓`)
        meta(property='og:type' content='website')
        meta(property='og:image' content=`${baseurl}/img/${imagename}`)
        if language != "Unknown"
            meta(property='og:description' content=`Check this ${language} snippet !`)
        else 
            meta(property='og:description' content=`${textshort}`)
        meta(name='theme-color' content=`${color}`)
        meta(name='twitter:card' content='summary_large_image')

        title= imagename
