doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property='og:title' content=`${imagename}`)
        meta(property='og:type' content='website')
        meta(property='og:description' content='Click the link to watch the video. Discord embeds does not support video preview')
        meta(name='theme-color' content=`${color}`)
        meta(name='twitter:card' content='summary_large_image')
        meta(property="og:video" content=`${baseurl}/img/${imagename}`)
        meta(property="og:video:type" content="video/mp4")
        meta(property="og:video:secure_url" content=`${baseurl}/img/${imagename}`)
        meta(property="og:video:height" content="720")
        meta(property="og:video:width" content="1280")
        meta(property="og:image:height" content="720")
        meta(property="og:image:width" content="1280")


        title= imagename
